p.view {
	line-height: 0%;
	font-family: Consolas, monospace;
}

p.credits {
	color: white;
	font-size: 1em;
}

span {
	color: #2D2;
}

body {
	background-color: #000;
	text-align: center;
}

#gameView {
	font-size: 2em;
	display: inline-block;
	-webkit-transform: scale(1.4, 1);
	-moz-transform:    scale(1.4, 1);
	-ms-transform:     scale(1.4, 1);
	-o-transform:      scale(1.4, 1);
	transform:         scale(1.4, 1);
}

.unselectable {
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.credits { font-family: monospace; }
a:link { color: #AAF; }
a:visited { color: #96C; }

